venv/
build/
One Pace - Test Data/
One Pace - Debug/
rename.spec
todo.txt
One Pace/rename.py
One Pace/seasons.json
One Pace/exceptions.json
One Pace/**/*.mkv
One Pace/**/*.mp4
One Pace/.DS_Store
.DS_Store
.idea
/tools/.cache/
